DEFAULT menu.c32
PROMPT 0
TIMEOUT 300
ONTIMEOUT local

MENU TITLE PXE Boot Menu - Ubuntu 24.04.3

LABEL local
    MENU LABEL ^Boot from local drive
    LOCALBOOT 0
    TIMEOUT 150

LABEL ubuntu-autoinstall
    MENU LABEL ^Autoinstall Ubuntu 24.04.3
    KERNEL ubuntu-24.04/vmlinuz
    INITRD ubuntu-24.04/initrd
    APPEND ip=dhcp root=/dev/ram0 ramdisk_size=3000000 url=http://{{ pxe_server_ip }}/{{ ubuntu_iso_filename }}  autoinstall  autoinstall ds=nocloud-net cloud-config-url=http://{{ pxe_server_ip }}/{{ autoinstall_dir }}/user-data s=http://{{ pxe_server_ip }}/{{ autoinstall_dir }}/ console=tty0 console=ttyS0,115200n8
        ---

LABEL ubuntu-manual
    MENU LABEL Install Ubuntu 24.04.3 (^Manual)
    KERNEL ubuntu-24.04/vmlinuz
    INITRD ubuntu-24.04/initrd
    APPEND root=/dev/ram0 ramdisk_size=3000000 ip=dhcp url=http://{{ pxe_server_ip }}/{{ ubuntu_iso_filename }} net.ifnames=0 biosdevname=0 cloud-config-url=/dev/null console=tty0 console=ttyS0,115200n8
        ---
