#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{ default_hostname }}
    username: {{ default_username }}
    password: {{ upassword | password_hash('sha512') }}

  # Network configuration
  network:
    version: 2
    ethernets:
      eth0:
        dhcp4: true
        optional: true

  # Storage configuration
  storage:
    layout:
      name: lvm
    swap:
      size: 0

   # User configuration
  user-data:
    disable_root: false
    timezone: UTC
    users:
      - name: {{ default_username }}
        groups: [adm, cdrom, dip, plugdev, lxd, sudo]
        shell: /bin/bash
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: false
        

